<%- include('../includes/header.ejs'); %>
<div class="container">
  <% if(typeof message != "undefined" && message) { %>
  <div class="mt-5 mb-3">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= message %></strong>
    </div>
  </div>

  <% } %>
  <form
    style="max-width: 400px; margin: 0 auto"
    action="/auth/login"
    method="POST"
  >
    <h3>Login</h3>

    <div class="form-outline mb-4">
      <input
        type="text"
        id="form2Example2"
        class="form-control"
        name="username"
      />
      <label class="form-label" for="form2Example2">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="form2Example2"
        class="form-control"
        name="password"
        minlength="7"
      />
      <label class="form-label" for="form2Example2" id="password"
        >Password</label
      >
    </div>

    <p>Belum punya akun? <a href="/register">Register</a></p>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      Login
    </button>
  </form>
</div>
<%- include('../includes/footer'); %>
