<%- include('../includes/header'); %>

  <div class="container">
    <h2>
      Create Post
    </h2>

    <form action="/posts/store" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="title">
     </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea type="text" name="content" class="form-control" id="content"></textarea>
     </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <%- include('../includes/footer'); %>