<%- include('./includes/header'); %>

  <div class="container">
    <center>
        <h1>Profile Rumah Joglo</h1>
        <img src="../img/joglo1.jpg" alt="" width="50%">
        <p align="justify">Rumah Adat Joglo: Rumah Adat Asal Jogja – Tahukah Kamu Joglo berasal dari kata Tajug Loro (Juglo) yang bermakna dua gunung. Dalam filosofi Jawa sendiri gunung merupakan tempat yang tinggi dan sakral. Atap rumah Joglo yang berbentuk dua gunung. <br><br>

            Namun dalam setiap perkembangannya, penyebutan kata Juglo kemudian berubah menjadi Joglo. Seiring dengan berkembangnya zaman, kini rumah Joglo sendiri dapat dibangun oleh berbagai kalangan dan kerap digunakan pada Gedung perkantoran atau pemerintahan.</p>
            <a href="(https://www.gramedia.com/literasi/rumah-adat-joglo/)">(https://www.gramedia.com/literasi/rumah-adat-joglo/)</a>
            <p> Profile  <a href="https://jogjaprov.go.id/">Provinsi Yogyakarta</a></p>
    </center>
  </div>

  <%- include('./includes/footer'); %>