<%- include('./includes/header'); %>

  <div class="container">
    <center>
        <h1>Gamelan</h1>
        <img src="../img/alatmusik_Gamelan.jpg" alt="" width="50%">
        <br>
        <p align="justify">

          Gamelan (bahasa Jawa: ꦒꦩꦼꦭꦤ꧀, translit. gamêlan, bahasa Sunda: ᮌᮙᮨᮜᮔ᮪, bahasa Bali: ᬕᬫᭂᬮᬦ᭄)[1] adalah musik ansambel tradisional Jawa, Sunda, dan Bali di Indonesia yang memiliki tangga nada pentatonis dalam sistem tangga nada (laras) slendro dan pelog. Terdiri dari instrumen musik perkusi yang digunakan pada seni musik karawitan. Instrumen yang paling umum digunakan adalah metalofon antara lain gangsa, gender, bonang, gong, saron, slenthem dimainkan oleh wiyaga menggunakan palu (pemukul) dan membranofon berupa kendhang yang dimainkan dengan tangan. Juga idiofon berupa kemanak dan metalofon lain adalah beberapa di antara instrumen gamelan yang umum digunakan. Instrumen lain termasuk xilofon berupa gambang, aerofon berupa seruling, kordofon berupa rebab, dan kelompok vokal disebut sinden.[2]

          Seperangkat gamelan dikelompokkan menjadi dua, yakni gangsa pakurmatan dan gangsa ageng. Gangsa pakurmatan dimainkan untuk mengiringi hajad dalem (upacara adat karaton), jumenengan (upacara penobatan raja atau ratu), tingalan dalem (peringatan kenaikan takhta raja atau ratu), garebeg (upacara peristiwa penting), sekaten (upacara peringatan hari lahir Nabi Muhammad). Gangsa ageng dimainkan sebagai pengiring pergelaran seni budaya umumnya dipakai untuk mengiringi beksan (seni tari), wayang (seni pertunjukan), uyon-uyon (upacara adat/hajatan), dan lain-lain.[3] Saat ini, gamelan banyak digunakan di pulau Jawa, Madura, Bali, dan Lombok.
        </p>
  
        <br>

        <h1>Tari Srimpi</h1>
        <img src="../img/tari_Serimpi.jpg" alt="" width="50%">
        <br>
        <p align="justify">

          Tari serimpi berasal dari tradisi keraton Mataram yang waktu itu masih berada di Daerah Istimewa Yogyakarta. Sehingga, bisa dikatakan bahwa tari serimpi berasal dari Daerah Istimewa Yogyakarta. Dirangkum dari laman Radio Edukasi Kemdikbud, tari serimpi adalah tari klasik yang hanya ditampilkan di wilayah keraton saja. Saat itu, tari serimpi adalah salah satu tarian yang sangat sakral dan mistis. Jadi, tari serimpi berasal dari tradisi keraton ini hanya dimainkan di dalam lingkungan keraton untuk acara kenegaraan dan memperingati kenaikan tahta sultan.

          Tari serimpi ditampilkan oleh empat orang penari sebagai simbol empat arah mata angin dan empat unsur dunia yakni api, udara, air, dan tanah. Tari ini ditampilkan dengan gerakan lemah gemulai dan diiringi alunan gamelan. Tema tari serimpi adalah pertentangan antara nafsu dan akal serta benar dan salah. Dalam perkembangannya, tari serimpi banyak ditampilkan untuk menyambut tamu agung.


        </p>
        <p> Profile  <a href="https://jogjaprov.go.id/">Provinsi Yogyakarta</a></p>


    </center>
  </div>

  <%- include('./includes/footer'); %>