<%- include('./includes/header'); %>

    <div class="container">
        <h2>
            <%= name %>
        </h2>

        <br>
            <h3>Gudeg Jogja</h3>
        <br>
            <img src="../img/GudegJogja.jpg" alt="">
        <br>
            <h4>Resep</h4>
            <h5>Bahan:</h5>
            <ul>
                <li>1 Kg nangka</li>
                <li>1 butir kelapa ambil santan</li>
                <li>4 lembar daun salam</li>
                <li>1 jempol besar lengkoas</li>
                <li>120 gr gula merah</li>
                <li>1 bungkus kaldu sapi</li>
                <li>1 SDM garam/li>
                <li>1 sdt micin / kaldu jamur</li>
                <li>4 lembar daun jati</li>
            </ul>
            <br>
            <h5>Bahan Bumbu Halus:</h5>
            <ul>
                <li>15 siung bawang merah</li>
                <li>10 siung bawang putih</li>
                <li>1 SDM ketumbar</li>
                <li>5 butir kemiri sangrai</li>
            </ul>
            <br>
            <h5>Alat:</h5>
            <ul>
                <li>Ulegan</li>
                <li>Baskom</li>
                <li>Panci bertutup</li>
                <li>Pengaduk</li>
                <li>Sendok</li>
                <li>Kompor</li>
                <li>Piring</li>
            </ul>
            <br>
            <h5>Cara Memasak</h5>
            <table style = "width: 100;">
                <tr>
                    <td>
                        <img src="../img/Step1Gudeg.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step2Gudeg.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step3Gudeg.png" width="300" height="200" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        1. Tuang ketumbar dan garam, lalu haluskan <br> menggunakan ulegan. Setelah halus,<br> masukkan bawang merah, bawang putih, <br> dan kemiri. Uleg hingga halus.
                    </td>
                    <td></td>
                    <td>
                        2. Siapkan wadah, lalu tuang santan cair <br>ke dalamnya. Kemudian masukkan bumbu,<br> garam, dan penyedap ke dalam wadah. <br> Aduk sampai rata.
                    </td>
                    <td></td>
                    <td>
                        3. Siapkan panci lalu beri alas dengan 2 lembar <br> daun jati. Tuang nangka ke dalam panci.
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td>
                        <img src="../img/Step4Gudeg.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step5Gudeg.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step6Gudeg.png" width="300" height="200" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        4. Siram nangka dengan menggunakan <br> santan tadi.
                    </td>
                    <td></td>
                    <td>
                        5. Taruh daun salam dan lengkuas di atas <br> nangka tersebut. Kemudian taburi dengan <br> gula merah yang sudah diiris tipis. Lalu <br> masukkan potongan ceker ayam dan telur <br> rebus.
                    </td>
                    <td></td>
                    <td>
                        6. Tutup dengan daun jati disusul dengan <br> penutup panci. Masak dengan api sedang <br> selama kurang lebih 2 sampai 4 jam.
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td>
                        <img src="../img/Step7Gudeg.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step8Gudeg.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step9Gudeg.png" width="300" height="200" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        7. Setelah air santan surut, ambil daun jati <br> dalam panci tersebut.
                    </td>
                    <td></td>
                    <td>
                        8. Aduk-aduk gudeg biar tidak gosong.
                    </td>
                    <td></td>
                    <td>
                        9. Angkat gudeg dan sajikan dalam piring.
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <h5>Video:</h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3tGj1B90Uns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
    </div>

    <div class="container">
        <br>
        <br>
        <hr>
        <br>
            <h3>Oseng-oseng Mercon</h3>
        <br>
            <img src="../img/osengmercon.jpg" alt="">
        <br>
            <h4>Resep</h4>
            <h5>Bahan:</h5>
            <ul>
                <li>8 siung bawang merah</li>
                <li>4 siung bawang putih</li>
                <li>4 lembar daun salam</li>
                <li>3 buah cabe merah</li>
                <li>Cabe rawit</li>
                <li>Merica</li>
                <li>Sereh</li>
                <li>Lengkuas</li>
                <li>Jahe</li>
                <li>Daun salam daun jeruk</li>
                <li>Gula jawa</li>
                <li>Garam</li>
                <li>Kaldu sapi bubuk</li>
            </ul>
            <br>
            <h5>Alat:</h5>
            <ul>
                <li>Ulegan</li>
                <li>Wajan</li>
                <li>Pengaduk</li>
                <li>Kompor</li>
                <li>Piring</li>
            </ul>
            <br>
            <h5>Cara Memasak</h5>
            <table style = "width: 100;">
                <tr>
                    <td>
                        <img src="../img/Step1Mercon.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step2Mercon.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step3Mercon.png" width="300" height="200" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        1. Masak tetelan daging hingga empuk.
                    </td>
                    <td></td>
                    <td>
                        2. Haluskan bawang merah, bawang putih, cabai, gula dan garam.
                    </td>
                    <td></td>
                    <td>
                        3. Geprek sereh, lengkuas, dan jahe.
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td>
                        <img src="../img/Step4Mercon.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step5Mercon.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step6Mercon.png" width="300" height="200" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        4. Panaskan minyak, lalu tumis satu bawang putih dan satu bawang merah, disusul dengan bumbu yang sudah diuleg.
                    </td>
                    <td></td>
                    <td>
                        5. Masukkan sereh, lengkuas, dan daun jeruk lalu aduk-aduk sampai bumbu tercampur merata dan daun layu.
                    </td>
                    <td></td>
                    <td>
                        6. Masukkan tetelan sapi lalu aduk kembali.
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td>
                        <img src="../img/Step7Mercon.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step8Mercon.png" width="300" height="200" alt="">
                    </td>
                    <td style="width: 50px;"></td>
                    <td>
                        <img src="../img/Step9Mercon.png" width="300" height="200" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        7. Tambahkan air kaldu tetela sapi.
                    </td>
                    <td></td>
                    <td>
                        8. Tambahkan gula merah, garam, dan lada. Aduk kembali sampai air kaldu mendidih.
                    </td>
                    <td></td>
                    <td>
                        9. Pindahkan ke piring. Oseng-oseng mercon khas yogyakarta siap disajikan.
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <h5>Video:</h5>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZZu_mKdczag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


<%- include('./includes/footer'); %>