<%- include('./includes/header'); %>

  <div class="container">
    <center>
        <h1>Profile DI Yogyakarta</h1>
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="../img/1.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
        
            <img
              src="../img/2.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>
        
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="../img/3.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Mountains in the Clouds"
            />
        
            <img
              src="../img/4.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
          </div>
        
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="../img/5.jpeg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
        
            <img
              src="../img/6.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>
        
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="../img/7.jpeg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Mountains in the Clouds"
            />
        
            <img
              src="../img/8.png"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
          </div>

          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="../img/9.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
        
            <img
              src="../img/10.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>
        
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="../img/11.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Mountains in the Clouds"
            />
        
            <img
              src="../img/12.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
          </div>
        </div>



        <!-- <img src="../img/1.jpg" alt="" width="50%"> <br><br>
        <img src="../img/2.jpg" alt="" width="50%"><br><br>
        <img src="../img/3.jpg" alt="" width="50%"><br><br>
        <img src="../img/4.jpg" alt="" width="50%"><br><br>
        <img src="../img/5.jpeg" alt="" width="50%"><br><br>
        <img src="../img/6.jpg" alt="" width="50%"><br><br>
        <img src="../img/7.jpeg" alt="" width="50%"><br><br>
        <img src="../img/8.png" alt="" width="50%"><br><br>
        <img src="../img/9.jpg" alt="" width="50%"><br><br>
        <img src="../img/10.jpg" alt="" width="50%"><br><br> -->
        <p> Profile  <a href="https://jogjaprov.go.id/">Provinsi Yogyakarta</a></p>
    </center>
  </div>

  <%- include('./includes/footer'); %>