<%- include('./includes/header'); %>

  <div class="container">
    <center>
        <h1>Profile DI Yogyakarta</h1>
        <img src="../img/1.jpg" alt="" width="50%"> <br><br>
        <img src="../img/2.jpg" alt="" width="50%"><br><br>
        <img src="../img/3.jpg" alt="" width="50%"><br><br>
        <img src="../img/4.jpg" alt="" width="50%"><br><br>
        <img src="../img/5.jpeg" alt="" width="50%"><br><br>
        <img src="../img/6.jpg" alt="" width="50%"><br><br>
        <img src="../img/7.jpeg" alt="" width="50%"><br><br>
        <img src="../img/8.png" alt="" width="50%"><br><br>
        <img src="../img/9.jpg" alt="" width="50%"><br><br>
        <img src="../img/10.jpg" alt="" width="50%"><br><br>
        <p> Profile  <a href="https://jogjaprov.go.id/">Provinsi Yogyakarta</a></p>
    </center>
  </div>

  <%- include('./includes/footer'); %>