<%- include('./includes/header'); %>

  <div class="container">
    <h2>
      <%= name %>
    </h2>


    <br>
    <h3>Candi Prambanan</h3>
    <br>
    <img src="../img/candi-prambanan.jpeg" alt="">
    <br>
    <p>
      Candi Prambanan merupakan salah satu tempat wisata Jogja yang ikonik. <br>
      Pasalnya candi ini termasuk dalam Situs Warisan Dunia UNESCO, candi Hindu terbesar di Indonesia, sekaligus salah satu candi terindah di Asia Tenggara.<br>
      Untuk dapat ke sini, Moms dapat menjangkaunya dengan mudah menggunakan bus Trans Jogja. <br>Aktifiitas yang bisa dilakukan di sini adalah mempelajari sejarah candi prambanan dan berfoto.
    </p>

    <p>
      <b>Jam Buka:</b> 06.30–16.00 WIB
      <br>
      <b>Harga Tiket Masuk:</b> Rp40.000
      <br>
      <b>Alamat:</b> Jl. Raya Solo - Yogyakarta No.16, Kranggan, Bokoharjo, Kec. Prambanan, Kabupaten Sleman, Daerah Istimewa Yogyakarta
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.3559836610175!2d110.48927871420976!3d-7.75201527901151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5ae3dbd859d1%3A0x19e7a03b25955a2d!2sPrambanan%20Temple!5e0!3m2!1sen!2sid!4v1658547216544!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <p>Reference: https://www.orami.co.id/magazine/wisata-jogja</a>
    </p>

    <br>
    <br>

    <br>
    <h3>Taman Sari</h3>
    <br>
    <img src="/img/tamansari.jpg" alt="">
    <br>
    <p>
      Tak suka berwisata jauh-jauh dari pusat kota? Datang saja ke Taman Sari yang berada di dalam area Benteng Kraton Yogyakarta.<br>
      Taman Sari awalnya adalah tempat pemandian bagi sultan dan para permaisurinya.
      Setelah tidak digunakan lagi, tempat ini menjadi lokasi wisata Jogja yang banyak dikunjungi karena memiliki arsitektur yang unik. Aktifitas yang bisa dilakukan adalah berfoto.
    </p>

    <p>
      <b>Jam Buka:</b> 09.00-15.00 WIB
      <br>
      <b>Harga Tiket Masuk:</b> Rp5.000
      <br>
      <b>Alamat:</b> Patehan, Kraton, Yogyakarta City, Special Region of Yogyakarta
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.8086815896836!2d110.35726941477823!3d-7.810067294371972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5793d0c2cf2b%3A0x276a21f8a01cbe13!2sTaman%20Sari!5e0!3m2!1sen!2sid!4v1658546930806!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <p>Reference: https://www.orami.co.id/magazine/wisata-jogja</a>
    </p>

    <a href="url">https://jogjaprov.go.id/</a>
    <br>
    <br>
  </div>

  <%- include('./includes/footer'); %>