<%- include('./includes/header'); %>

  <div class="container">
    <center>
        <h1>Profile Jogjakarta</h1>
        <div align="center" style="inline">
          <img src="../img/yogjakarta1.jpg" alt="" width="50%">
          <img src="../img/yogjakarta2.jpg" alt="" width="50%">
        </div>
        
        <p align="justify">
          Kota Yogyakarta (bahasa Jawa: ꦪꦺꦴꦒꦾꦏꦂꦠ, translit. Ngayogyakarta, pengucapan bahasa Jawa: [kuʈɔ ŋajogjɔˈkart̪ɔ]) atau dikenal oleh masyarakat setempat dengan nama Kota Jogja atau Kota Yogya adalah ibu kota dan pusat pemerintahan Daerah Istimewa Yogyakarta, Indonesia. Kota ini adalah kota besar yang mempertahankan konsep tradisional dan budaya Jawa. Kota Yogyakarta adalah kediaman bagi Sultan Hamengkubuwana dan Adipati Paku Alam. Kota Yogyakarta merupakan salah satu kota terbesar di Indonesia dan kota terbesar keempat di wilayah Pulau Jawa bagian selatan menurut jumlah penduduk. Kota Yogyakarta juga pernah menjadi ibu kota RI pada tahun 1946.

          Salah satu kecamatan di Yogyakarta, yaitu Kotagede pernah menjadi pusat Kesultanan Mataram antara kurun tahun 1575–1640. Keraton (Istana) yang masih berfungsi dalam arti yang sesungguhnya adalah Keraton Ngayogyakarta dan Puro Paku Alaman, yang merupakan pecahan dari Kesultanan Mataram. Pada masa revolusi, Yogyakarta juga pernah menjadi ibu kota Indonesia antara tahun 1946 hingga 1950.
        </p>
            <a href="(https://www.gramedia.com/literasi/rumah-adat-joglo/)">(https://www.gramedia.com/literasi/rumah-adat-joglo/)</a>
            <p> Profile  <a href="https://jogjaprov.go.id/">Provinsi Yogyakarta</a></p>

        <h1>Peta</h1>
        <img src="../img/peta_Jogja.jpg" alt="" width="50%">

    </center>
  </div>

  <%- include('./includes/footer'); %>